@font-face {
  font-family: 'Poppins';
  src: url('../static/Poppins-Regular.ttf');
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.Calculator {
  width: 20rem;
}

.Display {
  margin: 0 10px;
}

.InputDisplay {
  padding-left: 0.75rem;
  font-size: 20px;
}

.OutputDisplay {
  padding-right: 0.75rem;
  font-size: 70px;
  text-align: right;
  line-height: 5rem;
}

.Buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.Buttons input {
  font-size: 30px;
  border: 1px solid black;
  border-radius: 90px;
  aspect-ratio: 1;
  background-color: #313131;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.Buttons .Gray {
  font-size: 22px;
  background-color: #a0a0a0;
  color: black;
}

.Buttons .Orange {
  background-color: #f69906;
  color: white;
}

.Buttons .Null {
  grid-column: span 2;
  aspect-ratio: 0;
  padding-right: 5.1rem;
}
