<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Calculator</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/calculator.css"
    />
  </head>
  <body>
    <div class="Calculator">
      <div class="Display">
        <div class="InputDisplay"></div>
        <div class="OutputDisplay"></div>
      </div>

      <div class="Buttons">
        <button>%</button>
        <button>CE</button>
        <button>C</button>
        <button><-</button>

        <button>1/x</button>
        <button>x²</button>
        <button>&#8730;</button>
        <button>/</button>

        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>*</button>

        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>-</button>

        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>+</button>

        <button>+/-</button>
        <button>0</button>
        <button>,</button>
        <button>=</button>
      </div>
    </div>
  </body>
</html>
