<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Calculator</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/calculator.css"
    />
  </head>
  <body>
    <div class="Calculator">
      <div class="Display">
        <div class="InputDisplay">{{input}}</div>
        <div class="OutputDisplay">{{output}}</div>
      </div>

      <form action="/" method ="POST" class="Buttons">
        <input name="state" type="hidden" value="{{input}}" />

        <input name="input" type="submit" value="C" class="Gray"></input>
        <input name="input" type="submit" value="←" class="Gray"></input>
        <input name="input" type="submit" value="%" class="Gray"></input>
        <input name="input" type="submit" value="÷" class="Orange"></input>

        <input name="input" type="submit" value="7"></input>
        <input name="input" type="submit" value="8"></input>
        <input name="input" type="submit" value="9"></input>
        <input name="input" type="submit" value="x" class="Orange"></input>

        <input name="input" type="submit" value="4"></input>
        <input name="input" type="submit" value="5"></input>
        <input name="input" type="submit" value="6"></input>
        <input name="input" type="submit" value="-" class="Orange"></input>

        <input name="input" type="submit" value="1"></input>
        <input name="input" type="submit" value="2"></input>
        <input name="input" type="submit" value="3"></input>
        <input name="input" type="submit" value="+" class="Orange"></input>

        <input name="input" type="submit" value="0" class="Null"></input>
        <input name="input" type="submit" value=","></input>
        <input name="input" type="submit" value="=" class="Orange"></input>
      </form>
    </div>
  </body>
</html>
