<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Calculator</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/calculator.css"
    />
  </head>
  <body>
    <div class="Calculator">
      <div class="Display">
        <div class="InputDisplay">{{input}}</div>
        <div class="OutputDisplay">{{output}}</div>
      </div>

      <div class="Buttons">
        <button class="Gray">AC</button>
        <button class="Gray">+/-</button>
        <button class="Gray">%</button>
        <button class="Orange">÷</button>

        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button class="Orange">×</button>

        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button class="Orange">-</button>

        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button class="Orange">+</button>

        <button class="Null">0</button>
        <button>,</button>
        <button class="Orange">=</button>
      </div>
    </div>
  </body>
</html>
